
.products ul.pages li  {
	width: 44px;
	height: 44px;
	display: inline-block;
	line-height: 42px;
	border: 1px solid #eee;
	font-size: 15px;
	font-weight: 700;
	color: #121212;
	transition: all .3s;
}

.products ul.pages li:hover,
.products ul.pages li.active  {
	background-color: #f33f3f;
	border-color: #f33f3f;
	color: #fff;
}