/* .btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
  background-color: #8064A2 !important;
  border-color: #8064A2 !important;
}

.btn-outline-success {
  color: white;
} */