
.btn-outline-primary {
  color: rgb(37, 12, 12);
  background-color: transparent;
  background-image: none;
  border-color: rgb(204, 160, 119)
}

.btn-outline-primary:hover {
  color: rgb(117, 20, 7);
  background-color: #f1bbb2;
  border-color: rgb(204, 160, 119)
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}
.card-profile {
  background: -webkit-linear-gradient(left, #fd5d9b48, #00c8ff56);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
}
.card-statistic {
  background: -webkit-linear-gradient(left, #d5cbfde3, #caacfa);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
}
