.breadcrumb-item+.breadcrumb-item::before {
  content: ">"
}

.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .1rem 0rem !important;
  margin-bottom: 0rem;
  list-style: none;
  background-color: #ffffff;
  border-radius: .25rem
}

.single_product {
  /* padding-top: 66px; */
  /* padding-bottom: 140px; */
  background-color: #e5e5e5;
  margin-top: 0px;
  padding: 10px
}

.product_name {
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px
}

.badge {
  display: inline-block;
  padding: 0.50em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem
}


.product_price {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  margin-top: 9px;
  clear: left
}

.singleline {
  margin-top: 1rem;
  margin-bottom: .40rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1)
}

.product_info {
  color: #4d4d4d;
  display: inline-block
}

.product_description {
  padding-left: 0px
}

.shop-button {
  height: 47px
}

.break-all {
  color: #5e5e5e
}

.image_selected {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 15px);
  height: 525px;
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
  border: solid 1px #e8e8e8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px
}

.image_list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 165px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 15px;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
  overflow: hidden
}

.bbb_combo {
  width: 100%;
  margin-right: 7%;
  padding-top: 21px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;
  border-radius: 5px;
  margin-top: 0px;
  text-align: -webkit-center
}

.bbb_combo_image {
  width: 170px;
  height: 170px;
  margin-bottom: 15px
}

.fs-10 {
  font-size: 10px
}

.row-underline {
  content: "";
  display: block;
  border-bottom: 2px solid #3798db;
  margin: 0px 0px;
  margin-bottom: 20px;
  margin-top: 15px
}

.deal-text {
  margin-left: -10px;
  font-size: 25px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 700
}

.padding-0 {
  padding-left: 0;
  padding-right: 0
}

.padding-2 {
  margin-right: 2px;
  margin-left: 2px
}

.vertical-line {
  display: inline-block;
  border-left: 3px solid #167af6;
  margin: 0 10px;
  height: 364px;
  margin-top: 4px
}

.add-both-cart-button {
  margin-left: 36px
}

.items_text {
  color: #b0b0b0
}

.p_specification {
  font-weight: 500;
  margin-left: 22px
}

.mt-10 {
  margin-top: 10px
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

body {
  /* font-family: 'Rubik', sans-serif; */
  font-size: 14px;
  font-weight: 400;
  background: #FFFFFF;
  color: #000000
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

ul {
  list-style: none;
  margin-bottom: 0px
}

.single_product {
  padding-top: 10px;
  /* padding-bottom: 140px */
}


.image_selected {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 15px);
  /* height: calc(100% + 30px); */
  -webkit-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  transform: translateX(-15px);
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px
}

.image_selected img {
  max-width: 100%
  
}

.product_category {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5)
}

.product_text {
  margin-top: 27px
}

.product_text p:last-child {
  margin-bottom: 0px
}
.card {
  background-color: #ffffff;
  border: 1px solid rgba(0, 34, 51, 0.1);
  box-shadow: 4px 6px 12px 5px rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
  border-radius: 0.15rem;
}