.carousel-caption {
  top: 30%;
  transform: translateX(0%);
  
}

.btn-banner {
  height: 45px;
  width: 20%;
  border: none;
  outline: none;
  background: #f3903f;
  color: white;
  border-radius: 60px;
}
.carousel-caption h1, .carousel-caption h6 {
  color: rgb(236, 80, 32);
  border-radius: 60px;
}

.btn1-banner:hover {
  background-color: rgb(223, 26, 92);
  transition: 0.5s;
}

.carousel .carousel-item-banner {
  height: 550px !important;
}

/* .carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
} */