.widget-lg {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75); 
  margin-right: 20px;
}


.widget-lg-title {
  font-size: 22px;
  font-weight: 600;
}


.widget-lg-table {
  border-collapse: separate;
  width: 100% !important;
  border-spacing: 20px !important;
}

.widget-lg-th {
  text-align: left;
}


.widget-lg-user {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widget-lg-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}


.widget-lg-button {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}


.widget-lg-button.approved {
  background-color: #e5faf2;
  color: #3bb077;
}

.widget-lg-button.declined {
  background-color: #fff0f1;
  color: #d95087;
}

.widget-lg-button.pending {
  background-color: #ebf1fe;
  color: #2a7ade;
}

.widget-lg-date, .widget-lg-amount {
  font-weight: 300;
}

.widgetLg {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.widgetLgTitle {
  font-size: 22px;
  font-weight: 600;
}

.widgetLgTable{
  width: 100%;
  border-spacing: 20px;
}

.widgetLgTh{
  text-align: left;
}

.widgetLgUser{
  display: flex;
  align-items: center;
  font-weight: 600;
}

.widgetLgImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.widgetLgDate,.widgetLgAmount{
  font-weight: 300;
}

.widgetLgButton {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}

.widgetLgButton.Approved{
    background-color: #e5faf2;
    color: #3bb077;
}
.widgetLgButton.Declined{
    background-color: #fff0f1;
    color: #d95087;

}
.widgetLgButton.Pending{
    background-color: #ebf1fe;
    color: #2a7ade;

}
