.newuser {
  flex: 4;
  background: white;
}

.newuser-title {
  font-weight: 600;
  color: teal;
}

.newuser-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.newuser-item {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  margin-right: 20px;
}

.newuser-item>label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}

.newuser-item>input {
  font-size: medium;
  height: 40px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newuser-role>input {
  margin-top: 0px;
}

.newuser-role>label {
  margin: 10px;
  font-size: 18px;
  color: #555;
}

.newuser-select {
  height: 40px;
  border-radius: 5px;
}

.newuser-button {
  width: 200px;
  border: none;
  background: rgb(76, 76, 236);
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}