.admin-topbar {
  width: 100%;
  height: 80px;
  background-color: white;
  margin-left: 5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9998;
  /* background-color: var(--bg-primary); */
  background: white;
}

.admin-topbar-wrapper {
  margin-left: auto;
  height: auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.top-right {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.topbar-icon-container {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  color: #555;
}

.top-icon-badge {
  width: 15px;
  height: 15px;
  position: absolute;
  top: -5px;
  right: 0px;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.top-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .admin-topbar {
    margin-left: 0;
  }

  .top-right {
    margin-right: -0.5rem;
  }
}